<div class="header">
  <div class="text">
    <div class="title">Makerswiel Eindhoven</div>
    <div class="subtitle">
      Makerswiel is een samenwerkingsverband van vrijwilligersgedreven
      tech-initiatieven in en om Eindhoven, bestaande uit Hackalot, MAD emergent
      art center, maakplek bibliotheek, tech playgrounds, philips museum, de
      jonge onderzoekers Eindhoven
    </div>
    <div class="scrolling">
      <div class="barcode">ÌHackalot Î</div>
      <div class="barcode">ÌMAD emergent art centeraÎ</div>
      <div class="barcode">Ìmaakplek bibliotheekwÎ</div>
      <div class="barcode">Ìtech playgroundsXÎ</div>
      <div class="barcode">Ìphilips museum3Î</div>
      <div class="barcode">ÌDJO Eindhoven5Î</div>
      <div class="barcode">ÌHackalot Î</div>
      <div class="barcode">ÌMAD emergent art centeraÎ</div>
      <div class="barcode">Ìmaakplek bibliotheekwÎ</div>
      <div class="barcode">Ìtech playgroundsXÎ</div>
      <div class="barcode">Ìphilips museum3Î</div>
      <div class="barcode">ÌDJO Eindhoven5Î</div>
    </div>
  </div>
  <div class="helm">{% include spinning_helm.html %}</div>
</div>
