<div class="main">
  Makerswiel bestaat uit verschillende initatieven, die samen voor iedereen die
  iets met technologie wil doen in eindhoven kan dienen! Er zijn plekken voor
  kinderen en volwassenen, voor een enkel bezoek tot meerder dagen in de week
  open. Wil je meer weten? Kijk dan naar de paginas van de losse groepen!
  <br />
  <br />
  Alle initatieven van het Makerswiel zijn vrijwilligersgedreven, nieuwe
  vrijwilligers zijn welkom!
  <br />
  <br />
  <div class="section">
    <div class="seperator">
      Alle leeftijden
      <hr />
    </div>
    <div class="item">Philips museum</div>
  </div>
  <div class="section">
    <div class="seperator">
      Jonge kinderen
      <hr />
    </div>
    <div class="item">Makersplaats in de Bibliotheek</div>
  </div>
  <div class="section">
    <div class="seperator">
      Jongere en oudere kinderen
      <hr />
    </div>
    <div class="item">Tech playgrounds</div>
    <div class="item">De jonge onderzoekers Eindhoven</div>
  </div>
  <div class="section">
    <div class="seperator">
      Volwassenen
      <hr />
    </div>
    <div class="item">Hackalot, de hackerspace van Eindhoven</div>
    <div class="item">MAD emergent art center</div>
  </div>
</div>
