@import "reset.scss";
@import "fonts.scss";
@import "helm.scss";
@import "header.scss";
@import "main.scss";
@import "blog.scss";

.content {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.main {
  font-size: 1.25em;
  padding-top: 40px;
  padding-bottom: 20vh;
  font-family: "Raleway";

  img {
    max-width: 100%;
  }
}
