.header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: calc(40px * 8);

  padding: 40px;
  background-color: #3077c5;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asvgjs%3D%22http%3A%2F%2Fsvgjs.dev%2Fsvgjs%22%20viewBox%3D%220%200%20800%20800%22%20opacity%3D%221%22%20width%3D%2280%22%20height%3D%2280%22%20style%3D%22background-color%3A%233077c5%22%3E%3Cg%20stroke-width%3D%223.5%22%20stroke%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20fill%3D%22none%22%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22-100%22%20y%3D%22-4.289473684210526%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22-4.289473684210526%22%20y%3D%22-100%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22300%22%20y%3D%22-4.289473684210526%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22395.7105263157895%22%20y%3D%22-100%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22700%22%20y%3D%22-4.289473684210526%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22795.7105263157895%22%20y%3D%22-100%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22-100%22%20y%3D%22395.7105263157895%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22-4.289473684210526%22%20y%3D%22300%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22300%22%20y%3D%22395.7105263157895%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22395.7105263157895%22%20y%3D%22300%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22700%22%20y%3D%22395.7105263157895%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22795.7105263157895%22%20y%3D%22300%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22-100%22%20y%3D%22795.7105263157895%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22-4.289473684210526%22%20y%3D%22700%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22300%22%20y%3D%22795.7105263157895%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22395.7105263157895%22%20y%3D%22700%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%22200%22%20height%3D%228.578947368421051%22%20x%3D%22700%22%20y%3D%22795.7105263157895%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3Crect%20width%3D%228.578947368421051%22%20height%3D%22200%22%20x%3D%22795.7105263157895%22%20y%3D%22700%22%20stroke%3D%22none%22%20fill%3D%22hsla%28211%2C%2037%25%2C%2063%25%2C%201.00%29%22%20rx%3D%224.289473684210526%22%3E%3C%2Frect%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  display: flex;
  align-items: center;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: "Playwrite";
  font-size: 4em;

  color: white;
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  @keyframes glow {
    from {
      filter: drop-shadow(0px 0px 4px white);
    }
    to {
      filter: drop-shadow(0px 0px 8px white);
    }
  }

  @media only screen and (max-width: 500px) {
    font-size: 2em;
  }
}

.subtitle {
  color: white;
  font-size: 1.5em;
  font-family: "Delius";
  line-height: 1.1em;

  @media only screen and (max-width: 500px) {
    font-size: 1.25em;
  }
}

.scrolling {
  position: absolute;
  bottom: 10px;
  min-width: 100%;
  gap: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  animation-name: scrolling;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  @keyframes scrolling {
    from {
      left: 20px;
    }
    to {
      left: calc(-100% - 20px);
    }
  }

  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.barcode {
  color: white;
  font-family: "LibreBarcode128";
  font-size: 5em;
  opacity: 0.9;
  height: 20px;
  overflow-y: hidden;
  white-space: pre;
}

.helm {
  opacity: 0.5;

  @media only screen and (max-width: 700px) {
    display: none;
  }
}
